version: 2.1

jobs:
  build_and_test:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout

      # Enable Docker-in-Docker for building your app
      - setup_remote_docker

      - run:
          name: Build Docker image
          command: docker build -t bhanuakepogu/docker-react -f Dockerfile.dev .

      - run:
          name: Run tests
          command: docker run bhanuakepogu/docker-react npm run test -- --coverage

  deploy:
    docker:
      - image: cimg/python:3.10 # Elastic Beanstalk CLI (eb) runs on Python
    steps:
      - checkout

      # Install AWS Elastic Beanstalk CLI
      - run:
          name: Install AWS CLI and EB CLI
          command: |
            sudo apt-get update
            sudo apt-get install -y unzip
            curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
            unzip awscliv2.zip
            sudo ./aws/install
            pip install awsebcli --upgrade --user
            export PATH=$PATH:~/.local/bin
      - run:
          name: Configure AWS
          command: |
            aws configure set aws_access_key_id $AWS_ACCESS_KEY
            aws configure set aws_secret_access_key $AWS_SECRET_KEY
            aws configure set default.region us-east-2

      # Deploy to Elastic Beanstalk
      - run:
          name: Deploy to Elastic Beanstalk
          command: |
            eb use Docker-react-env
            eb deploy

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build_and_test
      - deploy:
          requires:
            - build_and_test
          filters:
            branches:
              only: main
