version: 2.1

jobs:
  build:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout

      - setup_remote_docker:
          version: 20.10.14

      - run:
          name: Build Docker image
          command: |
            docker build -t bhanuakepogu/docker-react -f Dockerfile.dev .

      - run:
          name: Run tests
          command: |
            docker run bhanuakepogu/docker-react npm run test -- --coverage

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
